* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


  .pics {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }
 
  /*animation: fadeInOut 20s ease-in-out;*/
 
 .pic {
     display: block;
     height: auto;
     overflow: hidden;
     width: 350px;
     height: 700px;
     position: relative;
 }

 .pic:before {
    background: rgba(15,25,30,0.55);
    content: " ";
    display: block;
    left: 0;
    top: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}
 
 .pic:nth-child(1) {
     animation-delay: .5s;
 }
 
 .pic:nth-child(2) {
     animation-delay: 1s;
 }
 
 .pic:nth-child(3) {
     animation-delay: 1.5s;
 }
 
 .pic:nth-child(4) {
     animation-delay: 2s;
 }

 .pic:nth-child(5) {
    animation-delay: .8s;
}

.pic:nth-child(6) {
    animation-delay: 1.3s;
}

.pic:nth-child(7) {
    animation-delay: 1.8s;
}

.pic:nth-child(8) {
    animation-delay: 2.3s;
}



     .pic h3 {
         font-family: "Vollkorn",serif;
         left: 15%;
         letter-spacing: 4px;
         font-size: 25px;
         line-height: 27.984px;
         position: absolute;
         bottom: 15%;
         z-index: 250;
         color: #fff;
         text-align: left;
         text-shadow: 2px 2px #000;
     }
  
      .pic:hover::before {
        content: ' ';
        display: none;
    }
 
   /*.pic:hover .picContent {
         transform: translateY(-200px);
         transition: transform 1s;
     }*/
 
 
 .picOne {
     background: url('https://images.unsplash.com/photo-1583337130417-3346a1be7dee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80');
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .picTwo {
     background: url('https://images.unsplash.com/photo-1552053831-71594a27632d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=362&q=80');
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .picThree {
     background: url('https://images.unsplash.com/photo-1537151608828-ea2b11777ee8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=394&q=80');
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
 }  
 
 .picFour {
     background: url('https://images.unsplash.com/photo-1583511655826-05700d52f4d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80');
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .picFive {
    background: url('https://images.unsplash.com/photo-1598133894008-61f7fdb8cc3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.picSix {
    background: url('https://images.unsplash.com/photo-1598133893847-a3b6858156d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.picSeven {
    background: url('https://images.unsplash.com/photo-1588943211346-0908a1fb0b01?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.picEight {
    background: url('https://images.unsplash.com/photo-1624956741711-9e4001049662?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

 
.picNine {
  background: url('https://images.unsplash.com/photo-1510771463146-e89e6e86560e?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.picTen {
  background: url('https://images.unsplash.com/photo-1596492784531-6e6eb5ea9993?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.picEleven {
  background: url('https://images.unsplash.com/photo-1590634332992-b8b4a4b7ae47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=502&q=80');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.picTwelve {
  background: url('https://images.unsplash.com/photo-1586671267731-da2cf3ceeb80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=389&q=80');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.picThirteen {
  background-image: url('https://images.unsplash.com/photo-1517849845537-4d257902454a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.picFourteen {
   background-image: url('https://images.unsplash.com/photo-1560525821-d5615ef80c69?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
} 

.picFifteen {
    background-image: url('https://images.unsplash.com/photo-1546491764-67a5b8d5b3ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}  

.picSixteen {
    background-image: url('https://images.unsplash.com/photo-1537151625747-768eb6cf92b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=385&q=80');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*
.fade {
    animation:  FadeInOut 17s ease-in;
} */

.fadeIn {
    animation: FadeIn 20s ease-in-out;
} 

@keyframes FadeIn {
  0% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
    }


.mySlides {
  display: none;
  text-align: center;
  animation: fadeinout 10s;
}

.mySlides.active {
  display: block;
}

@keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
}
